<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Dashboard Template · Bootstrap v5.1</title>
    <script>
      const ROOM_ID = "<%= roomId %>";
   </script>
    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
   <script src="/socket.io/socket.io.js" defer></script>
   <link rel="stylesheet" href="style.css">
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <script src="script.js" defer></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <style>
      #video-grid{
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }
      video{
         height: 200px;
         width: 300px;
         object-fit: cover;
         padding: 8px;
         border-radius: 30px;
      }
   </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body class="bg-dark">
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">NOTULEN</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-light">Ruang Rapat</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
          </div>
          <div class="btn btn-sm btn-outline-secondary">
            <span data-feather="calendar"></span>
            <span id="tanggal"></span>
          </div>
        </div>
      </div>

      <div id="video-grid">
      </div>
      <div class="main__controls">
        <div class="main__controls__block">
           <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
              <i class="fas fa-microphone"></i>
              <span>Mute</span>
           </div>
           <div onclick="playStop()" class="main__controls__button main__video_button" >
              <i class="fas fa-video"></i>
              <span>Stop Video</span>
           </div>
           <div id="start" class="main__controls__button">
            <i class="fas fa-file-alt"></i>
            <span>Create Text</span>
         </div>
        </div>
     </div>

      <h2>Notulen</h2>
      <div style="display: none;" class="mt-4" id="div_language">
        <h2 class="mb-3 text-light">Select Language</h2>
        <select class="form-select bg-secondary text-light" id="select_language" onchange="updateCountry()"></select>
        <select class="form-select bg-secondary text-light mt-2" id="select_dialect"></select>
      </div>
      <div class="p-3" style="border: 1px solid gray; height: 80px; border-radius: 8px;">
        <span id="final" class="text-bold"></span>
        <span id="interim" class="text-secondary"></span>
      </div>
      <div class="mt-2">
        <button class="btn btn-sm btn-success">Create Text</button>
        <button class="btn btn-sm btn-danger" id="stop">Stop</button>
        <p id="status" class="lead mt-3 text-bold" style="display: none;color: white;">Listenting ...</p>
      </div>
      <div class="table-responsive mt-4">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nama</th>
              <th scope="col">Text</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mahesa anugrah mulyo</td>
              <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, nisi illum exercitationem id mollitia saepe nobis consectetur. Architecto possimus tenetur cumque impedit asperiores facilis est accusamus atque nesciunt, quas dignissimos.</td>
              <td>placeholder</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
      <script src="speechRecognition.js"></script>
      <script src="language.js"></script>
      <script>
        const d = new Date();
document.getElementById("tanggal").innerHTML = d.getDate()+' / '+d.getMonth()+' / '+d.getFullYear();
      </script>
    </body>
</html>
